# prisma
DATABASE_URL="mysql://<user>:<password>@<host>:<port>/<db_name>"

# mq
RABBITMQ_URI='amqp://<user>:<passowrd>@<host>:<port>'

# redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# jwt
JWT_SECRET=

# email
EMAIL_USER=
EMAIL_PASS=
